<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="page-header">
            <h1><span class="icon icon-text"></span> Tasks</h1>
        </div>
        <div class="well">
            <div class="form-group">
                <label for="loginInputEmail">Email</label>
                <input name="email" type="text" class="form-control" id="loginInputEmail" placeholder="Enter your email..." value="admin@example.com">
            </div>
            <div class="form-group">
                <label for="loginInputPassword">Password</label>
                <input name="password" type="password" class="form-control" id="loginInputPassword" placeholder="Enter your password..." value="house123">
            </div>
            <div class="clearfix">
                <button type="submit" class="btn btn-primary btn-block" data-loading-text="Logging in..."><span class="icon icon-login"></span> Log in</button>
            </div>
        </div>
    </div>
</div>